**/.git
**/node_modules
**/.next
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.env
**/.env.*
**/env_mitre
**/storage
**/advanced_index
# We need these for the RAG engine in Docker
**/Documents
**/Mitre_ATT&CK Doc
README.md
SKILL.md
docker-compose.yml
