# ==============================================================================
# RAG Pipeline
# ==============================================================================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env

# Logs
*.log

GraphRAG/chroma_db/* 

# Vector Stores and Indexes (Uncomment if you want to ignore vector databases to save space)
# *.faiss
# *.pkl
# *.json

# Misc
.DS_Store
